<!DOCTYPE html>
<html>
  <head>
    <title>Barras</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/jsbarcode/3.6.0/JsBarcode.all.min.js"></script>

    <script>
      function GerarCódigoDeBarras(elementoInput) {
          let configuracao = {
              format: "codabar",
              lineColor: "#000000",
              width: 2,              
              height: 40,
              displayValue: true,
              valid: function (valido) {
                  if (valido) {
                      document.getElementById("mensagem").innerHTML = "";
                  } else {
                      document.getElementById("mensagem").innerHTML = "Valor invalido";
          
                  }
              }
          };
          JsBarcode('#codBarras', elementoInput.value, configuracao);
      }
  </script>
  </head>


<div class="jumbotron">
  <h1 class="display-3">Ticket</h1>
    <hr class="my-2">
  
 
        <img id="barcodeImage" class="codeBarImage" />


    <div class="container">
      <div class="row">
      <col>

      <div id='valor'><b>vem do serial</b></div>
      <div>
        <label>Digite um valor</label>
        <input type="text" onblur="GerarCódigoDeBarras(this)" />
    </div>
    <svg id="codBarras"></svg>
    <p id="mensagem"></p>

      </col>
        </div>
        
      </div>

    </div>

</div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>


</html>
