<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
  </head>


<div class="jumbotron">
  <h1 class="display-3">Teste USB Zuchi</h1>
    <hr class="my-2">
  
<button class="btn btn-success" id="btn1" value='a' >giro horario</button>
<button class="btn btn-danger" id="btn2" value='b' >giro ant horario</button>

<button class="btn btn-danger" id="btn2" value='b' >Gera comanda</button>

    <div class="container">
      <div class="row">
      <col>

      <div id='valor'><b>vem do serial</b></div>
     

      </col>
        </div>
        
      </div>

    </div>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

<script>

const socket = io()
let counter =2; //contator tempo

var valorSerial =''
socket.on('serial:data',function(dataSerial){
    console.log("recebendo do serial : " + dataSerial.value)
    valorSerial = dataSerial.value
    socket.on('disconnect', () => {
  console.log("descoenctou? : " + socket.connected);
    })
})

/* console.log("valor vindo do serial: " + valorSerial)
$(document).ready(function() {
    $('#atualizar').on('click', function() {
    //var value = $(this).val();
    $('#valor b').text(valorSerial);
  });
}); */


  setInterval(function(){ 
    console.log("atualizou!")
  document.getElementById("valor").innerHTML = valorSerial;
   }, 10000);

</script>

<script>

$("#btn2").click(function(){
 // const call = io()
 const call = io()
  var button = $(this).val()
  console.log('button : ' + button)
  call.emit('btnAction',{
    value:button.toString()
    
  })

  call.on('disconnect', () => {
  console.log(call.connected); // false
});

})

</script>
<script>

  $("#btn1").click(function(){
   // const call = io()
   const call = io()
    var button = $(this).val()
    console.log('button : ' + button)
    call.emit('btnAction',{
      value:button.toString()
      
    })
  
    call.on('disconnect', () => {
    console.log(call.connected); // false
  });
  
  })
  
  </script>

</html>
