<!DOCTYPE html>

<html>
  <head>
    <title><%= title %></title>
   
    <link rel="stylesheet" href="/css/bootstrap.min.css">

  </head>
  <div class="container-fluid">
    <div style="height: 10vh; background-color:lightgrey;" class="cabeca">
    <div class="row">
      <div class="col-sm">
        One of three columns
      </div>
      <div class="col-sm">
        One of three columns
      </div>
      <div class="col-sm">
        One of three columns
      </div>
    </div>
  </div>
<div style="height: 80vh;" class="corpo">
  <div class="row">
    <div style="background-color:lightgrey;" class="col">
      1 of 3
    </div>
    <div class="col-8">
      2 of 3 (wider)
    </div>
    <div style="background-color:lightgrey;" class="col">
      3 of 3
    </div>
  </div>

</div>


<div style="height: 10vh;" class="footer">
  <div class="row">
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
  </div>

</div>

</div>


<script src="/js/jquery.min.js"></script>

<script src="/js/bootstrap.min.js"></script>

</html>
