<!DOCTYPE html>

<html>
  <head>
    <title><%= title %></title>
   
    <link rel="stylesheet" href="/css/bootstrap.min.css">

  </head>
  <div class="container-fluid">
    <div style="height: 10vh; background-color:lightgrey;" class="cabeca">
    <div class="row">
      <div class="col-sm">
        One of three columns
      </div>
      <div class="col-sm">
        One of three columns
      </div>
      <div class="col-sm">
        One of three columns
      </div>
    </div>
  </div>
<div style="height: 80vh;" class="corpo">
  <div style="height: 80vh;" class="row">
    <div style="background-color:lightgrey;" class="col">
      1 of 3
    </div>
    <div style="height: 80vh;" class="col-8">

       
       <object width="100%" height="100%">
        <param id="movie" value="<%= arquivo[0].arquivo %>" class="movie" name="movie" />
        <embed id="movie2" class="movie2"  src="<%= arquivo[0].arquivo %>" type="application/x-shockwave-flash" width="425" height="350" />
        </object>
  






    </div>
    <div style="background-color:lightgrey;" class="col">
      3 of 3
    </div>
  </div>

</div>


<div style="height: 10vh;" class="footer">
  <div class="row">
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
  </div>

</div>

</div>

<script>
/*   var arquivo = arquivo.lista
  
  var video = document.querySelector("#movie")
      video.setAttribute("value", arquivo )
      var video2 = document.querySelector("#movie2")
      video2.setAttribute("src", arquivo )
 */



</script>
<script src="/js/jquery.min.js"></script>

<script src="/js/bootstrap.min.js"></script>

</html>
